<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail projektu</title>
</head>
<body>
<h1>Detail projektu</h1>

<!-- Zobrazení detailů projektu -->
<ul>
    <li><b>Název:</b> <span th:text="${project.name}">Název projektu</span></li>
    <li><b>Popis:</b> <span th:text="${project.description}">Popis projektu</span></li>
    <li><b>Autor:</b> <span th:text="${project.creator.name}">Autor</span></li>
    <li><b>Rozpočet:</b> <span th:text="${project.budget}">Rozpočet</span></li>
    <li><b>Vytvořen:</b> <span th:text="${project.createdAt}">Datum vytvoření</span></li>
</ul>

<!-- Akce -->
<a th:href="@{'/projects/edit/' + ${project.id}}">Editovat</a>
<a th:href="@{'/projects/delete/' + ${project.id}}">Smazat</a>
</body>
</html>
