<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Projekty</h1>
<a th:href="@{'/projects/edit/' + ${index}}"></a>
<a th:href="@{'/projects/delete/' + ${index}}"></a>
<ul>
    <li><b>SPZ:</b><span th:text="${project.spz}"></span></li>
    <li><b>Color:</b><span th:text="${project.color}"></span></li>
    <li><b>Tank Volume</b>:</b><span th:text="${project.tankVolume}"></span></li>
    <li><b>Number Of Seats</b><span th:text="${project.numberOfSeats}"></span></li>
</ul>
</body>
</html>