<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${project.id != null}">Editace uživatele</title>
    <title th:if="${project.id == null}">Vytvoření uživatele</title>
</head>
<body>
<h1 th:if="${project.id != null}">Editace uživatele</h1>
<h1 th:if="${project.id == null}">Vytvoření uživatele</h1>

<!-- Error Message -->
<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}">Došlo k chybě.</p>
</div>

<form th:action="${project.id != null} ? @{'/projects/edit/' + ${project.id}} : @{/projects/create}" th:object="${project}" method="post">
    <div>
        <label for="name">Název:</label>
        <input type="text" id="name" th:field="*{name}" required/>
    </div>
    <div>
        <label for="description">Popis:</label>
        <textarea id="description" th:field="*{description}" required></textarea>
    </div>
    <button type="submit" th:if="${project.id != null}">Uložit změny</button>
    <button type="submit" th:if="${project.id == null}">Vytvořit</button>
</form>
<a th:href="@{/projects}">Zpět na seznam projektů</a>
</body>
</html>
