<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit ? 'Edit Task' : 'New Task'}"></title>
</head>
<body>
<form th:object="${task}" th:action="@{/task/save}" method="post">
    <label>
        Název úkolu:
        <input type="text" th:field="*{title}" th:readonly="${edit}" />
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Chyba u názvu</span>
    </label>
    <br />
    <label>
        Popis:
        <textarea th:field="*{description}"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Chyba u popisu</span>
    </label>
    <br />
    <label>
        Autor:
        <select th:field="*{creator}">
            <option th:each="user : ${users}" th:value="${user}" th:text="${user.name}"></option>
        </select>
        <span th:if="${#fields.hasErrors('creator')}" th:errors="*{creator}">Chyba u autora</span>
    </label>
    <br />
    <label>
        Řešitel:
        <select th:field="*{solver}">
            <option th:each="user : ${users}" th:value="${user}" th:text="${user.name}"></option>
        </select>
        <span th:if="${#fields.hasErrors('solver')}" th:errors="*{solver}">Chyba u řešitele</span>
    </label>
    <br />
    <label>
        Priorita:
        <input type="number" th:field="*{priority}" />
        <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">Chyba u priority</span>
    </label>
    <br />
    <button type="submit">Uložit</button>
</form>
</body>
</html>
