<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Úkoly</title>
</head>
<body>
<h1>Úkoly</h1>
<ul>
    <li th:each="task : ${tasks}">
        <!-- Odkaz na detail úkolu -->
        <a th:href="@{'/tasks/detail/' + ${task.id}}">
            <span th:text="${task.title}">Název úkolu</span>
        </a>
        <!-- Zobrazení dalších informací o úkolu -->
        <div>
            <b>Autor:</b> <span th:text="${task.creator.name}">Jméno autora</span>
        </div>
        <div>
            <b>Řešitel:</b> <span th:text="${task.solver.name}">Jméno řešitele</span>
        </div>
        <div>
            <b>Priorita:</b> <span th:text="${task.priority}">Priorita</span>
        </div>
    </li>
</ul>
</body>
</html>
