<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulář TimeLogu</title>
    <link rel="stylesheet" th:href="@{/assets/styles/bootstrap.min.css}" />
</head>
<body>
<div class="container mt-4">
    <h1 th:text="${timeLog.id != null} ? 'Editovat TimeLog' : 'Vytvořit TimeLog'">Formulář TimeLogu</h1>

    <!-- Zobrazení Chybové Zprávy -->
    <div th:if="${errorMessage}">
        <div class="alert alert-danger" th:text="${errorMessage}">Chyba</div>
    </div>

    <!-- Formulář -->
    <form th:action="@{${timeLog.id != null} ? '/time_logs/edit/' + ${timeLog.id} + '?taskId=' + ${taskId} : '/time_logs/create?taskId=' + ${taskId}}" th:object="${timeLog}" method="post">
        <div class="form-group">
            <label for="description">Popis</label>
            <input type="text" id="description" th:field="*{description}" class="form-control" placeholder="Popis" />
            <div th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}">Popis chyba</div>
        </div>
        <div class="form-group">
            <label for="time">Čas (hodiny)</label>
            <input type="number" step="0.1" id="time" th:field="*{time}" class="form-control" placeholder="Čas" />
            <div th:if="${#fields.hasErrors('time')}" class="text-danger" th:errors="*{time}">Čas chyba</div>
        </div>
        <button type="submit" class="btn btn-primary mt-2" th:text="${timeLog.id != null} ? 'Uložit Změny' : 'Vytvořit'}">Uložit</button>
        <a th:href="@{/time_logs}" class="btn btn-secondary mt-2">Zrušit</a>
    </form>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>