<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail časového záznamu</title>
</head>
<body>
<h1>Detail časového záznamu</h1>
<div>
    <b>ID:</b> <span th:text="${timeLog.id}">1</span>
</div>
<div>
    <b>Uživatel:</b> <span th:text="${timeLog.user}">Uživatel</span>
</div>
<div>
    <b>Úkol:</b> <span th:text="${timeLog.task}">Úkol</span>
</div>
<div>
    <b>Hodiny:</b> <span th:text="${timeLog.hours}">Hodiny</span>
</div>
<a th:href="@{/timelogs}">Zpět na seznam záznamů</a>
</body>
</html>
