<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${timeLog.id != null}">Editace uživatele</title>
    <title th:if="${timeLog.id == null}">Vytvoření uživatele</title>
</head>
<body>
<h1 th:if="${timeLog.id != null}">Editace uživatele</h1>
<h1 th:if="${timeLog.id == null}">Vytvoření uživatele</h1>

<!-- Error Message -->
<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}">Došlo k chybě.</p>
</div>

<form th:action="${timeLog.id != null} ? @{'/timelogs/edit/' + ${timeLog.id}} : @{/timelogs/create}" th:object="${timeLog}" method="post">
    <div>
        <label for="user">Uživatel:</label>
        <input type="text" id="user" th:field="*{user}" required/>
    </div>
    <div>
        <label for="task">Úkol:</label>
        <input type="text" id="task" th:field="*{task}" required/>
    </div>
    <div>
        <label for="hours">Hodiny:</label>
        <input type="number" id="hours" th:field="*{hours}" required/>
    </div>
    <button type="submit" th:if="${timeLog.id != null}">Uložit změny</button>
    <button type="submit" th:if="${timeLog.id == null}">Vytvořit</button>
</form>
<a th:href="@{/timelogs}">Zpět na seznam záznamů</a>
</body>
</html>
