<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Časové záznamy</title>
</head>
<body>
<h1>Časové záznamy</h1>
<ul>
    <li th:each="timeLog : ${timeLogs}">
        <!-- Odkaz na detail záznamu -->
        <a th:href="@{'/time-logs/detail/' + ${timeLog.id}}">
            <span th:text="${timeLog.description}">Popis záznamu</span>
        </a>
        <!-- Další informace -->
        <div>
            <b>Uživatel:</b> <span th:text="${timeLog.user.name}">Jméno uživatele</span>
        </div>
        <div>
            <b>Úkol:</b> <span th:text="${timeLog.task.title}">Název úkolu</span>
        </div>
        <div>
            <b>Čas:</b> <span th:text="${timeLog.time}">Hodiny</span>
        </div>
        <div>
            <b>Vytvořeno:</b> <span th:text="${timeLog.createdAt}">Datum</span>
        </div>
    </li>
</ul>
</body>
</html>
