<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uživatelé</title>
</head>
<body>
<h1>Uživatelé</h1>

<!-- Success and Error Messages -->
<div th:if="${param.success}" style="color: green;">
    <p th:text="${param.success}">Akce byla úspěšná.</p>
</div>
<div th:if="${param.error}" style="color: red;">
    <p th:text="${param.error}">Došlo k chybě.</p>
</div>

<ul>
    <li th:each="user : ${users}">
        <a th:href="@{'/users/detail/' + ${user.id}}">
            <span th:text="${user.name} + ' ' + ${user.surname}">Jméno a příjmení</span>
        </a>
        <div>
            <b>Email:</b> <span th:text="${user.email}">Email uživatele</span>
        </div>
        <div>
            <b>Vytvořen:</b> <span th:text="${user.createdAt}">Datum vytvoření</span>
        </div>
        <div>
            <a th:href="@{'/users/edit/' + ${user.id}}">Editovat</a> |
            <a th:href="@{'/users/delete/' + ${user.id}}" onclick="return confirm('Opravdu chcete smazat tohoto uživatele?');">Smazat</a>
        </div>
    </li>
</ul>
<a th:href="@{/users/create}">Vytvořit nového uživatele</a>
</body>
</html>