<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail uživatele</title>
</head>
<body>
<h1>Detail uživatele</h1>
<div>
    <b>ID:</b> <span th:text="${user.id}">1</span>
</div>
<div>
    <b>Jméno:</b> <span th:text="${user.name}">Jméno</span>
</div>
<div>
    <b>Příjmení:</b> <span th:text="${user.surname}">Příjmení</span>
</div>
<div>
    <b>Email:</b> <span th:text="${user.email}">email@example.com</span>
</div>
<div>
    <b>Datum vytvoření:</b> <span th:text="${user.createdAt}">2025-01-03</span>
</div>
<a th:href="@{/users}">Zpět na seznam uživatelů</a>
</body>
</html>
