<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Auta</h1>
<a th:href="@{'/cars/edit/' + ${index}}"></a>
<a th:href="@{'/cars/delete/' + ${index}}"></a>
<ul>
    <li><b>SPZ:</b><span th:text="${car.spz}"></span></li>
    <li><b>Color:</b><span th:text="${car.color}"></span></li>
    <li><b>Tank Volume</b>:</b><span th:text="${car.tankVolume}"></span></li>
    <li><b>Number Of Seats</b><span th:text="${car.numberOfSeats}"></span></li>
</ul>
</body>
</html>