<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${message.id != null}">Editace uživatele</title>
    <title th:if="${message.id == null}">Vytvoření uživatele</title>
</head>
<body>
<h1 th:if="${message.id != null}">Editace uživatele</h1>
<h1 th:if="${message.id == null}">Vytvoření uživatele</h1>

<!-- Error Message -->
<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}">Došlo k chybě.</p>
</div>

<form th:action="${message.id != null} ? @{'/messages/edit/' + ${message.id}} : @{/messages/create}" th:object="${message}" method="post">
    <div>
        <label for="title">Název:</label>
        <input type="text" id="title" th:field="*{title}" required/>
    </div>
    <div>
        <label for="content">Obsah:</label>
        <textarea id="content" th:field="*{content}" required></textarea>
    </div>
    <button type="submit" th:if="${message.id != null}">Uložit změny</button>
    <button type="submit" th:if="${message.id == null}">Vytvořit</button>
</form>
<a th:href="@{/messages}">Zpět na seznam zpráv</a>
</body>
</html>